
.container {
    margin: 0 0 102px 0;
    box-sizing:border-box;
    text-align: left;
}

.titleHeading {
    text-align: center;
    margin: 70px 0 60px 0;
}

.row {
    max-width: 1307px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leftColumn {
    width: 48%;
}
.rightColumn {
    width: 48%;
}

.r1 {
    position: relative;
    min-height: 40rem;
    max-height: 64rem;
    border-radius: 10px;
    display: flex;
    --box-shadow: 0;
    --transform: none;
    overflow: hidden;
    margin: 0 8px 48px 8px;
    transition: display 2s;
}

/* Background Colors */
.white {
    background-color: #EEEDEA;
}
.yellow {
    background-color: #F8DDAF;
}
.green {
    background-color: #EEE3FF;
}
.purple {
    background-color: #B5D4CC
}


.grid {
    width: 100%;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    padding: 10% 12%;
    border-radius: 10px;
    flex-direction: column;
}

.content {
    flex-direction: column;
    display: flex;
    margin: 10px, 20px;
}

.card_title, .pop_text {
    color: #28334A;
    font-family: 'Montserrat';
    margin-left: 0px;
}

.pop_text {
    margin-top: 2em;
    transition: display 2s;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.r1:hover .pop_text {
    visibility: visible;
    opacity: 1;
}
.r1:hover .button {
    margin-left: 0rem;
    background: #28334A;
}

.r1:hover a {
    color: #FFFFFF;
}

.button {
    margin-left: -1rem;
    margin-top: auto;
    display: inline-block;
    padding: 12px 22px;
    
    border-radius: 30px;
    width: fit-content;
    transition: margin-left 0.4s linear;
    z-index: 5;
}

.button_text {
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.card_image {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transform-origin: right;
}

.feedbackIcon {
    position: fixed !important;
    bottom: 3em;
    right: 3em;
    background-color: #28334A !important;
    color: white !important;
}

.closeIcon {
    position: fixed !important;
    bottom: 3em;
    right: 3em;
    background-color: #28334A !important;
    color: white !important;
    visibility: hidden;
}

.fBox {
    position: fixed !important;
    bottom: 8em;
    right: 2em;
    width: 300px;
    background-color: white !important;
    visibility: hidden;
}

/* Screens */
@media screen and (max-width: 1307px) {
    .leftColumn {
        width: 40%;
    }
    .rightColumn {
        width: 40%;
    }
    .r1 {
        min-height: 32rem;
    }
}
@media screen and (max-width: 1190px) {
    .container {
        margin: 48px 0 0 0;
    }
    .card_image {
        width: 40%;
    }
    .card_image img {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .r1 {
        min-height: 28rem;
    }
    .card_image {
        width: 30%;
    }
    .card_image img {
        width: 100%;
    }
}
/* Phones */
@media screen and (max-width: 450px) {
    .leftColumn {
        width: 100%;
    }
    .rightColumn {
        width: 100%;
    }
}